h1 {
font-family: 'Fredericka the Great', cursive;
font-size:50px;

}
h2{
font-family: 'Sue Ellen Francisco', cursive;
color:yellow;
}
h3{
	font-family: 'Allan', cursive;
	font-size: 30px;
}
h5{
	font-family: 'Carter One', cursive;
	font-size: 50px;
}
